<div class="main_right">
<div class="main_right_select">
<select #periodChoice [(ngModel)]="chPeriod" id="country">
  <option *ngFor='let choice of periodChoices'>{{choice}}</option>

</select>
        </div>

<!--
                <script type="text/javascript">
          var doughnutData = [
              {
                value: 20,
                color:"#45668e",
                highlight: "#1abc9c",
                label: "Paid"
              },
              {
                value : 50,
                color : "#5d799b",
                highlight: "#1abc9c",
                label: "Direct"
              },
              {
                value : 30,
                color : "#325279",
                highlight: "#1abc9c",
                label: "Organic"
              }
            
            ];

          new Chart(document.getElementById("doughnut").getContext("2d")).Doughnut(doughnutData);           
        </script> -->