<div class="main_right">
<div class="main_right_select">
          <select id="country" class="frm-field required sect">
            <option value="null">Choose Period</option>
            <option value="null">January 2017</option>
            <option value="null">January 2018</option> 
            <option value="null">January 2019</option>      
            <option value="null">January 2020</option>
          </select>
        </div>


				 <ul>
          <li><i></i>Direct</li>
          <li><i class="color"></i>Paid</li>
          <li><i class="color1"></i>Organic</li>
<!--
                <script type="text/javascript">
          var doughnutData = [
              {
                value: 20,
                color:"#45668e",
                highlight: "#1abc9c",
                label: "Paid"
              },
              {
                value : 50,
                color : "#5d799b",
                highlight: "#1abc9c",
                label: "Direct"
              },
              {
                value : 30,
                color : "#325279",
                highlight: "#1abc9c",
                label: "Organic"
              }
            
            ];

          new Chart(document.getElementById("doughnut").getContext("2d")).Doughnut(doughnutData);           
        </script> -->